[submodule "v1-core/lib/forge-std"]
	path = v1-core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "v1-periphery/lib/forge-std"]
	path = v1-periphery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "v1-core/lib/solmate"]
	path = v1-core/lib/solmate
	url = https://github.com/transmissions11/solmate
